/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f9f4f2;
  font-family: "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button,
img,
i {
  cursor: pointer;
}

.clear {
  clear: both;
}

/* header  */
.header {
  background-color: #f6e1db;
  padding: 10px 0 10px 80px;
}

.header .header__nav ul {
  display: flex;
  margin-top: 10px;
}

.header .header__nav ul li {
  margin-right: 50px;
}

.header .header__nav ul li a {
  color: black;
  font-weight: 500;
}

.header .header__nav ul li:hover a {
  color: #df6e4d;
}

/* carousel/slider  */
.carousel {
  background-image: url(../img/BG.png);
  height: 875px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* activity  */
.activity {
  text-align: center;
  padding: 70px 0 100px;
}

.activity .activity__title h2 {
  color: #8f8f8f;
}

.activity .activity__content {
  padding: 30px 0;
}

.activity .activity__content .activity__wrapper {
  float: left;
  width: 25%;
  padding: 15px;
}

.activity .activity__content .activity__wrapper .activity__item {
  position: relative;
}

.activity .activity__content .activity__wrapper .activity__card {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.activity .activity__content .activity__wrapper .activity__card img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}

.activity .activity__content .activity__wrapper .activity__card p {
  color: #b0b0b0;
  font-size: 18px;
  line-height: 30px;
  margin: 20px 0 30px;
}

.activity .activity__content .activity__wrapper .activity__card button {
  width: 70%;
  padding: 20px 5px;
  border: none;
  border-radius: 50px;
  color: #b0b0b0;
  font-weight: bold;
  font-size: 17px;
}

.activity .activity__content .activity__wrapper .activity__card button:hover {
  background-color: black;
  color: white;
}

.activity .activity__content .activity__wrapper .activity__card .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #df6e4d;
}

.activity .activity__content .activity__wrapper .activity__card .heart:hover {
  color: red;
  background-color: rgba(255, 255, 255, 0.7);
}

.activity > button {
  padding: 20px 100px;
  background-color: transparent;
  border: 2px solid #df6e4d;
  border-radius: 30px;
  color: #df6e4d;
  font-weight: bold;
}

.activity > button:hover {
  background-color: #df6e4d;
  color: white;
}

/* contact  */
.contact {
  background-color: #f6e1db;
  margin-bottom: 150px;
}

.contact .contact__item {
  float: left;
  width: 50%;
}

.contact .contact__left {
  background-image: url(../img/mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -370px;
  padding: 20px 0 20px 100px;
}

.contact .contact__left img {
  width: 62%;
}

.contact .contact__right {
  color: #8f8f8f;
  padding: 60px 200px 0 0;
}

.contact .contact__right h2 {
  font-size: 30px;
}

.contact .contact__right p {
  font-size: 18px;
  margin: 10px 0 30px;
}

.contact .contact__right div .media {
  float: left;
  width: 50%;
}

.contact .contact__right div .media h3 {
  margin: 0 0 20px;
  font-weight: bold;
}

.contact .contact__right div .media img {
  width: 49%;
}

.contact .contact__right div .media img:hover {
  border: 1px solid white;
}

.contact .contact__right div .media i {
  color: #df6e4d;
  font-size: 25px;
  margin: 0 10px 0 0;
}

.contact .contact__right div .media .fa-facebook-square:hover {
  color: #1877f3;
}

.contact .contact__right div .media .fa-youtube:hover {
  color: red;
}

.contact .contact__right div .media .fa-instagram:hover {
  color: purple;
}

.contact .contact__right div .media .fa-pinterest-square:hover {
  color: orange;
}

/* footer  */
.footer {
  background-color: #f6e1db;
  padding: 100px 50px 50px;
  border-radius: 100px 100px 0 0;
}

.footer .footer__content .content {
  float: left;
}

.footer .footer__content .content1 {
  width: 40%;
  padding-right: 50px;
}

.footer .footer__content .content1 p {
  margin-top: 30px;
  line-height: 25px;
}

.footer .footer__content .other {
  width: 20%;
  padding: 10px;
}

.footer .footer__content .other h3 {
  margin-bottom: 20px;
}

.footer .footer__content .other ul li {
  margin-bottom: 10px;
}

.footer .footer__content .other a {
  color: black;
}

.footer .footer__content .other a:hover {
  color: #df6e4d;
}

.footer > p {
  text-align: center;
  margin-top: 50px;
}

/* responsive */
@media only screen and (max-width: 1024px) {
  /* activity */
  .activity .activity__content .activity__wrapper {
    width: 50%;
  }

  /* contact */
  .contact .contact__item {
    width: 100%;
  }

  .contact .contact__left {
    padding-left: 0;
  }

  .contact .contact__left img {
    width: 100%;
  }

  .contact .contact__right {
    padding: 60px 10px 20px;
  }
}

@media only screen and (max-width: 768px) {
  /* header */
  .header .header__nav ul {
    flex-direction: column;
  }

  /* activity */
  .activity .activity__content .activity__wrapper {
    width: 100%;
  }

  /* contact */
  .contact .contact__right div .media {
    width: 100%;
    margin-bottom: 20px;
  }

  /* footer */
  .footer .footer__content .content1 {
    width: 100%;
    padding-right: 0;
  }

  .footer .footer__content .other {
    width: 33.33%;
    padding: 50px 0 0;
  }
}

@media only screen and (max-width: 576px) {
  /* footer */
  .footer .footer__content .other {
    width: 100%;
    padding: 20px 0;
  }
}
